$dark-red: #AA4439;
$light-red: #B85348;
$soundcloud: rgba(255, 58, 0, 0.9);
$soundcloud-opaque: rgba(255, 58, 0, 0.7);
$athini: 'Athiti', sans-serif;
$spacemono: 'Space Mono', monospace;
$bungee: 'Bungee Hairline', sans-serif; 
$chathura: 'Chathura', sans-serif;



.user {
  position: absolute;
  width: calc(400px - 50px);
  padding: 25px 25px 35px;
  background-color: #333;
  z-index: 99;

  h2 {
    color: $soundcloud;
    font-family: $chathura;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    line-height: 40px;
    margin: 0px;
  }

  span {
    color: #DDD;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 2px;
    font-family: $chathura;
  }
}