$dark-red: #AA4439;
$light-red: #B85348;

.login {
  &.active {
    .btn {
      width: 100%;
    }
  }

  &.logged-in {
    h1 {
      margin: 0px;
      height: 0px;
    }
    .btn {
      color: #FFF !important;
      height: 100% !important;
      margin: 0px;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 45px;
    color: #FFF;
    text-align: center;
    padding: 350px 0px;
    margin: 0px;
    transition: all 0.4s ease-in;
    transition-delay: 0.4s;
  }
  .btn {
    height: 50px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFF;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    color: $light-red;
    transform: translate(-50%,-50%);
    transition: all 0.4s cubic-bezier(.87,.21,.97,.55);
    z-index: 1;

    &:hover,  &:focus, &:active  {
      cursor: pointer;
      height: 50px;
      width: 100%;
    }
  }
}




