$dark-red: #AA4439;
$light-red: #B85348;
$soundcloud: rgba(255, 58, 0, 0.9);
$soundcloud-opaque: rgba(255, 58, 0, 0.7);
$athini: 'Athiti', sans-serif;
$spacemono: 'Space Mono', monospace;
$bungee: 'Bungee Hairline', sans-serif;	

.search-result {
	max-width: 500px;
	margin: 0 auto;
	padding: 15px 25px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-weight: bold;
	opacity: 0;
	transition: all 0.3s;
	background: white;

	@for $i from 1 through 40 {
	  &.no-#{$i} {
	    transition-delay: $i * .2s;
	  }
	}

	img, .result-info {
		display: inline-block;
		vertical-align: top;
	}

	.result-info {
		padding: 5px 15px;
	}
	p {
		margin-top: 0px;
		color: $soundcloud;
	}

	&.mounted {
		opacity: 1;
	}
	&:first-child {
		border-top: 2px solid white
	}
	&:last-child {
		border-bottom: 2px solid white
	}
}